{{define "main"}}<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/files/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/files/css.css">
</head>
<body>
	<div id="login" class="container interface">
		<div class="input">
			<input name="room" type="text" class="form-control" placeholder="Room">
		</div>
		<div class="input">
			<input name="name" type="text" class="form-control" placeholder="Nick Name">
		</div>
		<div class="input">
			<input name="pass" type="text" class="form-control" placeholder="Pass Phrase">
		</div>
		<div class="btn">
			<button type="button" class="btn btn-default">submit</button>
		</div>
	</div>
	<div id="chat" class="interface cacher">
		<div id="participants">
			<ul class="list-group"></ul>
		</div>
		<div id="conversation"></div>
		<div id="sendArea">
			<textarea name="message"></textarea>
			<div id="sendButtonConntainer">
				Send
			</div>
		</div>
	</div>
	<div id="errorModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body"><p></p></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/files/jquery/jquery-2.1.3.min.js"></script>
<script src="/files/bootstrap/js/bootstrap.min.js"></script>
<script src="/files/crypto/aes.js"></script>
<script src="/files/crypto/hmac-sha3.js"></script>
<script src="/files/js.js"></script>
</html>	
{{end}}