body>#login{
	margin: 25px auto 25px auto;
}
.cacher{
	display: none;
}
#errorModal .modal-header{
	background: #C3272B;
	border-radius: 4px 4px 0px 0px;
}
#errorModal .modal-body{
	background-color: #f2dede;
}
#errorModal .modal-footer{
	background: #C3272B;
	border-radius: 0px 0px 4px 4px;
}
#chat>#participants{
	width: 15%;
	max-width: 300px;
	min-width: 150px;
	display: inline-block;
	position: absolute;
	height: 100%;
	overflow-y: scroll;
}
#chat>#conversation{
	position: absolute;
	overflow-y: scroll;
	padding: 20px;
	width: 85%;
	right: 0px;
	display: inline-block;
	height: 75%;
}
#chat>#conversation>div{
	margin: 10px;
}
#chat>#conversation>div:first-child{
	margin-top: 0px;
}
#chat>#conversation>.message>div{
	display: inline-block;
}
#chat>#conversation>.message>div.msg{
	margin: 10px 10px 10px 3px;
	border-radius: 10px;
	padding: 5px;
}
#chat>#conversation>.message.user{
	text-align: right;
}
#chat>#conversation>.userInfo{

	text-align: center;
}
#chat>#conversation>.userInfo>div{
	background-color: grey;
	padding: 10px;
	border-radius: 4px;
	display: inline-block;
}
#chat>#conversation>.userInfo>div>b{
	background-color: white;
	padding: 5px;
	border-radius: 7px;
}
#chat>#sendArea{
	position: absolute;
	right: 25px;
	width: 80%;
	bottom: 15px;
	height: 20%;
}
#chat>#sendArea>textarea{
	height: 100%;
	width: 90%;
	border-radius: 10px 0px 0px 10px;
	color:#666;
	font-size:14px;
	border:#999 1px solid;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}
#chat>#sendArea>textarea:focus{
	color:#000;
	outline:none;
	border:#35a5e5 1px solid;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
#chat>#sendArea>#sendButtonConntainer{
	height: 100%;
	width: 10%;
	border-radius: 0px 10px 10px 0px;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	background-color: #337AB7;
	position: absolute;
}

#chat>#sendArea>#sendButtonConntainer:hover{
	background-color: #5D8CAE;
	color: #FFFFFF;
}